* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}
.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    overflow: inherit !important;
    z-index: 1000;
    font-weight: 900;
    margin-top: 25px;
}
.menu ul li {
    position: relative;
    display: inline-block;
    padding: 0;
    margin-left: 20px;
}
.menu ul li a {
    position: relative;
    border: 0 none;
    border-color: transparent transparent; /* the transitioned value, inherited by the pseudo element */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 7px 20px;
    font-size: 18px;
    line-height: 1em;
    text-transform: uppercase;
    color: #efefef;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.menu ul li a:hover {
    color: #ca6666;
    background: #ececec;
}
.menu ul li.active a,
.menu ul li.current-menu-item a,
.menu ul li a.selected {
    background: #ececec;
    color: #ca6666;
    border-color: #ececec transparent; /* changed hover value */
}
.menu ul li.active a:after,
.menu ul li.current-menu-item a:after,
.menu ul li a.selected:after {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -5px;
    content: '';
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: inherit; /* inherit the transition */
}
.menu ul li ul {
    position: absolute;
    left: 0;
    display: none;
    visibility: hidden;
    width: 168px;
    padding: 17px 0 0 0;
    margin: 0;
}
.menu ul li ul li,
.menu ul li.active li,
.menu ul li.current-menu-item li {
    display: list-item;
    margin: 0;
    border-top: 1px solid rgba(0,0,0,0.15);
    background: #ececec;
    color: #ca6666;
}
.menu ul li.active li a,
.menu ul li.current-menu-item li a {
    background: transparent
}
.menu ul li li a:hover,
.menu ul li.active li a:hover,
.menu ul li.current-menu-item li a:hover {
    background: transparent
}
.menu ul li ul li ul {
    top: 0;
    margin: 0;
}
.menu ul li ul li a {
    margin: 0;
    display: block;
    line-height: 1;
    font-size: 12px;
    background: none;
    padding: 12px 20px;
    color: #616161;
}
.menu ul li ul li:first-child {
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    border: none;
}
.menu ul li ul li:last-child {
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}
.menu ul li.active ul li a,
.menu ul li.current-menu-item ul li a,
.menu ul li ul li a {
    color: #616161
}
.menu ul li.active ul li a:hover,
.menu ul li.current-menu-item ul li a:hover,
.menu ul li ul li a:hover {
    color: #ca6666
}
.menu ul li.active ul li a:after,
.menu ul li.current-menu-item ul li a:after,
.menu ul li ul li a.selected:after {
    display: none
}
* html .menu {
    height: 1%
}
.selectnav {
    display: none;
    width: 280px;
    margin: 0 auto;
    background: transparent url(style/images/dropdown-arrow.png) no-repeat right center;
    border-radius: 0;
    border: 0;
    background-color: #ebebeb;
    max-width: 100%;
    padding: 7px 10px;
    line-height: 20px;
    background-size: 30px 28px;
    -webkit-appearance: none;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) { 
}
.month {
  margin-top: 20px;
  padding: 70px 25px;
  width: 100%;
  background: #ca6666;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.month .next:hover {
  cursor: cell;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li:hover {
  cursor: pointer;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

#schedule-bar {
  min-height: 50px;
  background-color: gray;
}

#schedule-bar li {
  margin: auto;
  float: left;
  border-right: 1px solid black;
  border-left: 1px solid black;
  height: 100%;
  text-align: center;
}

#schedule-bar li:hover {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3; 
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

.grid-item:hover {
  background-color: yellow;
  cursor: pointer;  
}

#popup-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.modal-content {
  /* display: none;  temporary, needs to be removed */
  right: 10%;
  top: 30px;
  position: absolute;
  background-color: red;
  color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-button {
  font-size: 16px;
  margin-left: 28%;
  color: red;
}

#activities {

}


.container-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  margin-left: 30px;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}




/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}