ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

#selection-list {
  width: 70%;

}

#filter {
  width: 300px;
  margin-left: 35%;
  border: 2px solid black;
}

#selection-form {
  width: 40%;
  margin-left: 40px;
}

#selection-form div {
  margin: 10px 10px 10px;
}

#product {
  border: 1px solid red;
}

input {
  width: 30px;
}







