  
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

#bold {
  font-size: 16;
  font-weight: bold;
  margin-right: 7px;
}

.contact-box {
  width: 35%;
  background-color: #d9cace;
  margin: 50px 40px;
  float: left;
  min-height: 300px;
  font-size: 16;
}

#bold {
  font-size: 19;
}

.contact-box p {
  margin-left: 5px;
}

.suggestion-box {
  min-width: 35%;
  background-color: #d9cace;
  margin: 50px 40px;
  float: left;
  min-height: 300px;
}

.suggestion-box input {
  margin-left: 5px;
  display: block;
  border-radius: 3%;
  padding: 5px 5px 5px;
  margin-top: 9px;
  width: 70%;
}

#message {
  margin: 12px 5px 0px;
  font-size: 18;
}

#send-button {
  border-radius: 7%;
  font-size: 19;
  margin-bottom: 5px;
  background-color: red;

}

.center-box {
  /*background-color: grey;*/
  width: 80%;
  height: 100%;
}

textarea {
  resize: none;
}

input {
  font-size: 18;
}







